[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/hugo-myportfolio-theme"]
	path = themes/hugo-myportfolio-theme
	url = https://github.com/2-REC/hugo-myportfolio-theme
[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether.git
[submodule "themes/hugo-split-theme"]
	path = themes/hugo-split-theme
	url = https://github.com/petr-muller/hugo-split-theme.git
