name: Publish Site
on: push
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Sources
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Read environment
      run: |
        . ./.env
        echo "HUGO_VERSION=${HUGO_VERSION}" >> $GITHUB_ENV
    - name: Install Hugo
      run: |
        wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb
        sudo dpkg -i ${{ runner.temp }}/hugo.deb
    - name: Install Dart Sass
      run: sudo snap install dart-sass
    - name: Restore Hugo Cache
      uses: actions/cache/restore@v4
      with:
        path: /tmp/hugo_cache
        key: ${{ runner.os }}-hugomod-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-hugomod-
    - name: Build Site
      env:
        TZ: 'Europe/Prague'
      run: hugo --minify
    - name: Save Hugo Cache
      uses: actions/cache/save@v4
      with:
        path: /tmp/hugo_cache
        key: ${{ runner.os }}-hugomod-${{ hashFiles('**/go.sum') }}

    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.DEPLOY_KEY }}
        known_hosts: 'placeholder'

    - name: Adding Known Hosts
      run: ssh-keyscan -H ${{ secrets.DEPLOY_HOST_IP }} >> ~/.ssh/known_hosts

    - name: Deploy with rsync
      run: rsync -avz --delete ./public/ ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST_IP }}:${{ secrets.DEPLOY_PATH }}
